---
import Layout from "../layouts/Layout.astro";
import RecipeList from "../components/ui/RecipeList.astro";
import Search from "../components/ui/Search";
const allRecipes = await Astro.glob("./recipes/*.md");

const latestRecipes = allRecipes.sort(
  (a, b) =>
    Date.parse(b.frontmatter.submittedOn) -
    Date.parse(a.frontmatter.submittedOn)
);

const tags = [
  ...new Set(allRecipes.map((recipe) => recipe.frontmatter.tags).flat()),
];
---

<Layout
  title="King Cobra Recipes"
  description="Here is where you can find recipes of King Cobra JFS"
>
  <main>
    <div id="content-wrapper" class="flex justify-center items-center">
      <div id="content-container" class="m-6 w-[40rem]">
        <section id="search" class="flex flex-col justify-center">
          <Search client:load searchList={allRecipes} />
        </section>
        <section id="latest-recipes">
          <h2>Latest Recipes</h2>
          <p>
            Recipes marked with ⸸ have no official name given, but a placeholder
            for identification.
          </p>
          <ul>
            {
              latestRecipes.map((recipe) => (
                <RecipeList url={recipe.url} title={recipe.frontmatter.title} />
              ))
            }
          </ul>
        </section>
        <section id="tags">
          <h2>Or Browse by Tag...</h2>
          <div class="">
            <ul class="columns-2">
              {
                tags.map((tag) => (
                  <RecipeList url={`/tags/${tag}`} title={tag} />
                ))
              }
            </ul>
          </div>
        </section>
        <section id="why">
          <h2>Huh, cool, what is this...</h2>
          <p>
            This is a website to document the culinary excellence of <a
              target="_blank"
              href="https://youtube.fandom.com/wiki/KingCobraJFS"
              class="text-green-500">Gothic King Cobra JFS</a
            >, a YouTube celebrity known for his eloquent way with words and
            help with gender relations.
          </p>
          <p>
            He has a seemingly boundless amount of recipes he has shown in his
            videos, ranging from alcoholic drinks to slightly edible food, to
            not so edible food. I couldn't find any resources online that share
            his recipes, so I decided to make my own.
          </p>
          <p>
            The alcohol drink combos are for of-age(21 and up) fans and I don't
            recommend actually eating any of the food that is an outcome of
            these recipes, but some of it I'm sure will amuse and satiate you in
            some capacity. Cobra's Mist is somehow actually decent.
          </p>
        </section>
        <section>
          <h2>How to submit a recipe</h2>
          <p>
            You don't have to submit a recipe, but it's greatly appreciated.
          </p>
          <p>
            Recipes can be submitted through <a
              href="https://github.com/TGParish/king-cobra-recipes/tree/main"
              class="text-green-500">Github.
	      target="_blank"
	      </a

            >
          </p>
        </section>
        <section>
          <p>Shout out to Sneaky_Dingo for the new logo TWU.</p>
        </section>
      </div>
    </div>
  </main>
</Layout>
